@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography';
@import './components/nav';

* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
	padding: 4rem 2rem;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	background: #f9fafb;
	color: #111827;
}

header > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #111827;
		color: #fff;
	}
}
