---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
// You can import components from any supported Framework here!
const data = await fetch('https://raw.githubusercontent.com/google/styleguide/gh-pages/htmlcssguide.html').then((response) => response.text().then((html) => html));
let parsed = data.replace(/<h1*?>.*?<\/h1>/ig, '').match(/(?<=\<div id="content">)[\s\S]*?(?=<\/div>)/g);

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'All About HTML & CSS';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout title={title}>
	<small>
		<a href="https://google.github.io/styleguide/htmlcssguide.html">This set of guidelines is from Google's HTML/CSS style guide</a>
	</small>
	{parsed}
</MainLayout>