---
import * as CONFIG from '../config';
import Nav from '../components/Nav/Nav.astro';
---

<html lang="en">
    <head>   
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{CONFIG.SITE.title}</title>    
        <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}>
        <link rel="stylesheet" href={Astro.resolve('../styles/home.scss')}>
    </head>
    <body>
        <main class="container mx-auto">    
            <header>
                <div>
                    <a href={Astro.site.pathname}>
                        <img width="60" height="80" src={`${Astro.site.pathname}assets/logo.svg`} alt="Engagency logo">
                    </a>
                </div>
            </header>
            <Nav />
            <h1>{CONFIG.SITE.title}</h1>
            <slot />
        </main>
    </body>
</html>